@model EControl.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutiFrame.cshtml";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Dados Pessoais</h2>
    <hr />
    <div class="col-md-3">

        <dl class="dl-horizontal">
            <dt>
                Nome
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                Sobrenome
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sobrenome)
            </dd>
            <dt>
                Sexo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt>
                Nascimento
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nascimento)
            </dd>
            <dt>
                Endereço
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
            <dt>
                Numero da Casa
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EnderecoNum)
            </dd>
            <dt>
                Telefone Celular
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCel)
            </dd>
            <dt>
                Telefone Residencial
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneRes)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Complemento
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Complemento)
            </dd>
            <dt>
                Profissão
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Profissao)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</main>
