@model IEnumerable<EControl.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutiFrame.cshtml";
}

<main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-4">

    <h2>Lista de Clientes</h2>
    <hr />
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Sobrenome
                    </th>
                    <th>
                        Sexo
                    </th>
                    <th>
                        Nascimento
                    </th>
                    <th>
                        Endereço
                    </th>
                    <th>
                        Numero
                    </th>
                    <th>
                        Celular
                    </th>
                    <th>
                        Rediencial
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Complemento
                    </th>
                    <th>
                        Profissão
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Sobrenome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnderecoNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefoneCel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelefoneRes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profissao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Create" class="btn btn-default">Cadastrar Cliente</a>
</main>
