@model EControl.Models.Preco

@{
    ViewData["Title"] = "Delete";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Remover Serviço</h2>
    <hr />
    <div class="col-md-3">
        <h4>Tem certeza de que deseja remover este serviço?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ServicoNom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ServicoNom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Custo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Custo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Desconto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Desconto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdFuncionarioNavigation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IdFuncionarioNavigation.Id)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" />
            <a asp-action="Index" class="btn btn-default">Voltar</a>
        </form>
    </div>
</main>