@model IEnumerable<EControl.Models.Preco>

@{
    ViewData["Title"] = "Index";
}

<main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-4">

    <h2>Lista de Preços</h2>
    <hr />
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ServicoNom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Custo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desconto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdFuncionarioNavigation)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServicoNom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Custo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Desconto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdFuncionarioNavigation.Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Create" class="btn btn-default">Cadastrar Cliente</a>
</main>