@model EControl.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Dados Pessoais</h2>
    <hr />
    <div class="col-md-3">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sobrenome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Nascimento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nascimento)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EnderecoNum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EnderecoNum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneCel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneRes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneRes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cargo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cargo)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</main>