@model EControl.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<main role="main" class="col-md-5 ml-sm-auto col-lg-12 px-4">

    <h2>Dados Pessoais</h2>
    <hr />
    <div class="col-md-3">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NomeEmp)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NomeEmp)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NomeRep)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NomeRep)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneCom1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCom1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneCom2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCom2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneCel1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCel1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneCel2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelefoneCel2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DescricaoEmp)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DescricaoEmp)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
        <a asp-action="Index" class="btn btn-default">Voltar</a>
    </div>
</main>