@model IEnumerable<EControl.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-4">

    <h2>Lista</h2>
    <hr />
    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Representante
                    </th>
                    <th>
                        CNPJ
                    </th>
                    <th>
                        Telefone Comercial 1
                    </th>
                    <th>
                        Telefone Comercial 2
                    </th>
                    <th>
                        Telefone Celular 1
                    </th>
                    <th>
                        Telefone Celular 2
                    </th>
                    <th>
                        Endereço
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeEmp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeRep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCom1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCom2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCel1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefoneCel2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoEmp)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Create" class="btn btn-default">Cadastrar Cliente</a>
</main>